/* 全体 */
body {
    min-height: 100%;
    height: 100%;
}

.wrapper {
    width: 600px;
    /* wrapperクラス中央寄せ */
    margin: 0 auto;
}

/* 上段 */
.upper {
    height: 150px;
    background-color: #FFFF00;
}

/* 中段1 */
.middle-1 {
    height: 150px;
}

.middle1-1 {
    width: 200px;
    height: 100%;
    background-color: #33FFFF;
    float: left;
}

.middle1-2 {
    width: 200px;
    height: 100%;
    background-color: #FF0000;
    float: left;
}

.middle1-3 {
    width: 200px;
    height: 100%;
    background-color: #0000FF;
    float: left;
}


/* 中段2 */
.middle-2 {
    height: 150px;
}

.middle2-1 {
    width: 500px;
    height: 100%;
    background-color: #00FF00;
    float: left;
}

.middle2-2 {
    width: 100px;
    height: 100%;
    background-color: #FF00FF;
    float: left;
}

/* 下段 */
.lower {
    width: 100%;
    height: 150px;
    background-color: #33FFFF;
}