/* タブレット用のCSS・ウィンドウが767pxまでの場合に適用*/
@media screen and (max-width: 767px) {
    .header {
        width: 250px;
    }

    .right {
        width: 100px;
        height: 250px;
        float: left;
    }

    .left {
        height: 250px;  
    }

    .footer {
        width: 250px;
    }
}

/* スマホ用のCSS・ウィンドウが479pxまでの場合に適用 */
@media screen and (max-width: 479px) {
    .wrapper {
        width: 150px;
    }

    .contents {
        height: 500px;
    }

    .header {
        width: 150px;
    }

    .right {
        width: 150px;
        float: none;
    }

    .left {
        float: none;   
    }

    .footer {
        width: 150px;
    }
}
