/* タブレット用のCSS・ウィンドウが767pxまでの場合に適用*/
@media screen and (max-width: 767px) {
    /* headerの横幅を250pxにする */
    .header {
        width: 250px;
    }
    /* rightの横幅を100pxにする */
    .right {
        width: 100px;
        height: 250px;
        float: left;
    }

    .left {
        height: 250px;  
    }

    /* footerの横幅を250pxにする */
    .footer {
        width: 250px;
    }
}

/* スマホ用のCSS・ウィンドウが479pxまでの場合に適用 */
@media screen and (max-width: 479px) {
    .wrapper {
        width: 150px;
    }

    /* rightがfooterの下に入るのを防ぐ */
    .contents {
        height: 500px;
    }

    /* headerの横幅を150pxにする */
    .header {
        width: 150px;
    }

    /* rightの横幅を150pxにする */
    .right {
        width: 150px;
        float: none;
    }

    .left {
        float: none;   
    }

    /* footerの横幅を150pxにする */
    .footer {
        width: 150px;
    }
}
