/* 全体 */
body {
    min-height: 100%;
    height: 100%;
}

/* floatの回り込み解除 */
.clearfix::after {
    content:"";
    display: block;
    clear: both;
}

/* 全体 */
.wrapper {
    width: 400px;
    margin: 0 auto;/* wrapperクラス中央寄せ */
}

/* ヘッダー */
.header {
    height: 100px;
    background-color: #141f40;
}

/* コンテンツ */
.contents {
    height: 250px;
}

/* 左 */
.left {
    width: 150px;
    height: 100%;
    background-color: #80bfa8;
    float: left;
}

/* 右 */
.right {
    width: 250px;
    height: 100%;
    background-color: #8c2727;
    float: right; 
}

/* フッター */
.footer {
    height: 100px;
    background-color: #d98d30;
}

/* リセットCSS */
* {
    margin: 0;
    padding: 0;
}
