/* 全体 */
body {
    min-height: 100%;
    height: 100%;
}

.clearfix::after {
    content:'';
    display: block;
    clear: both;
}

.wrapper {
    width: 400px;
    /* wrapperクラス中央寄せ */
    margin: 0 auto;
}

/* ヘッダー */
.header {
    height: 100px;
    background-color: #141f40;
}

/* 中身 */
.contents {
    height: 250px;
}

/* 中身-左 */
.left {
    width: 250px;
    float: left;
}

.left-upper {
    height: 150px;
}

.left-upper-left {
    width: 100px;
    height: 150px;
    background-color: #dbd403;
    float: left;
}

.left-upper-right {
    width: 150px;
    float: left;
}

.left-upper-right-1 {
    width: 100%;
    height: 50px;
    background-color: #8c2727;
}

.left-upper-right-2 {
    width: 100%;
    height: 100px;
    background-color: #ff9e6b;
}

.left-lower {
    width: 100%;
    height: 100px;
    background-color: #0093b7;
}

/* 中身-右 */
.right {
    width: 150px;
    height: 100%;
    background-color: #80bfa8;
    float: left;
}

/* フッター */
.footer {
    width: 100%;
    height: 100px;
    background-color: #d98d30;
}
